/* Methodology Section */
h2 {
    text-align: left;
    font-size: 2em;
    margin-top: 40px;
}

/* Methodology Content Styling */
p {
    text-align: justify;
    line-height: 1.6;
    font-size: 1.2em;
    margin-top: 20px;
}

/* Main content styling */
main {
    margin-top: 40px;
    padding: 20px;
}


